<div class="sticky"></div>
<div class="container">
    <div class="error">
        <h2>oops :(</h2>
        <p>parece que hubo un problema</p>
        <div class="links">
            <a class="link " href="/"><span class="arrow arrow-studio">←</span>volver a studio</a>
            <a class="link" href="https://mail.google.com/mail/?view=cm&to=studiorain.team@gmail.com&su=error en la web&body=hola! estaba navegando en su web cuando ocurrio un error:" target="_blank"><span class="arrow">→</span>informanos</a>
        </div>
    </div>
</div>