<span class="cursor-symbol">:)</span>
<section class="sticky"></section>
<div class="container">
    <div class="hablemos-content">
        <header>
            <a href="/"><img src="https://i.postimg.cc/SRgrHcW6/inflado-blanco.png" alt="logotipo"></a>
            <nav>
                <ul>
                    <li><a class="in-page" href="/">studio</a></li>
                    <li><a class="link" href="/hablemos"><span class="arrow">→</span>hablemos</a></li>
                </ul>
            </nav>
        </header>
        <div class="hcont">
            <div class="hcont__flor"><img src="https://i.postimg.cc/R0RphNkr/flor.gif" alt="flor saludando"></div>
            <div class="hcont__content">
                <p class="hcont__content__h2">hola! nos alegra verte por acá...</p>
                <p class="hcont__content__h1">compartinos tus necesidades por estos medios de contacto</p>
                <div class="hcont__links">
                    <a class="hcont__links__link" href="https://mail.google.com/mail/?view=cm&to=studiorain.team@gmail.com" target="_blank"><span class="arrow">→</span>mail</a>
                    <a class="hcont__links__link" href="https://wa.me/5493534249878" target="_blank"><span class="arrow">→</span><i class="fa-brands fa-whatsapp"></i>gemi</a>
                    <a class="hcont__links__link" href="https://www.instagram.com/studiorain.ar" target="_blank"><span class="arrow">→</span>instagram</a>
                    <a class="hcont__links__link" href="https://wa.me/5493472521320" target="_blank"><span class="arrow">→</span><i class="fa-brands fa-whatsapp"></i>santi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hablemos-img">
        <img src="https://i.postimg.cc/xdqSZPMR/hero.gif" alt="lluvia">
    </div>
</div>