<span class="cursor-symbol">:)</span>
<section class="sticky">
    <div class="gallery-wrapper">
        <div class="col side-1">
            <div class="img"><img src="https://i.postimg.cc/W4KPcJ7P/img1.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/QtTZ8x6K/img2.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/VvPQdQTG/img3.jpg" alt=""/></div>
        </div>
        <div class="col side-2">
            <div class="img"><img src="https://i.postimg.cc/m2wf2nSj/img4.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/wTFZdm6b/img5.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/9QMSXQ0X/img6.jpg" alt=""/></div>
        </div>
        <div class="col main">
            <div class="img"><img src="https://i.postimg.cc/brhWq0D4/img7.jpg" alt=""/></div>
            <div class="img main"><img src="https://i.postimg.cc/3xcqkQ0X/img8.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/hvsygkq7/img9.jpg" alt=""/></div>
        </div>
        <div class="col side-3">
            <div class="img"><img src="https://i.postimg.cc/SQftWMzN/img10.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/zG6dJw4p/img11.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/gJPNhzzZ/img12.jpg" alt=""/></div>
        </div>
        <div class="col side-4">
            <div class="img"><img src="https://i.postimg.cc/7Zfs8ttf/img13.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/43cWn7gG/img14.jpg" alt=""/></div>
            <div class="img"><img src="https://i.postimg.cc/d1mnmb3S/img15.jpg" alt=""/></div>
        </div>
    </div>
</section>
<div class="container">
    <div class="header-content">
        <header>
            <a href="/"><img src="https://i.postimg.cc/SRgrHcW6/inflado-blanco.png" alt="logotipo"></a>
            <nav>
                <ul>
                    <li><a class="in-page" href="/">studio</a></li>
                    <li><a class="link" href="/hablemos"><span class="arrow">→</span>hablemos</a></li>
                </ul>
            </nav>
        </header>
        <div class="header">
            <h1>studio</h1>
            <p>branding, diseño y sueños hechos realidad</p>
            <h1>rain</h1>
        </div>
    </div>
    <section class="hero">
        <div class="hero-img">
            <img src="https://i.postimg.cc/xdqSZPMR/hero.gif" alt="lluvia">
        </div>
    </section>
    <section class="intro">
        <div class="tagline">
            <p>estudio creativo</p>
        </div>
        <div class="divider"><p>↓</p></div>
        <div class="intro-header">
            <p class="h1">hacelo</p>
            <p class="h1">con</p>
            <p class="h1">pasión</p>
        </div>
    </section>
    <section class="ws"></section>
    <section class="outro">
        <p class="outro-h1">viví de tu pasión</p>
        <p class="outro-h1">sin miedo a lo que pueda pasar</p>
    </section>
    <section class="cards">
        <div class="card" id="card-1">
            <div class="card-inner">
                <div class="card-content">
                    <p class="card-title">estrategia de marca</p>
                    <p class="card-text">el plan para posicionar tu pasión en el mercado, conectando con las personas correctas y destacándote</p>
                </div>
                <div class="card-img">
                    <img src="https://i.postimg.cc/zXS5Hvqn/card1.jpg" alt="producto">
                </div>
            </div>
        </div>
        <div class="card" id="card-2">
            <div class="card-inner">
                <div class="card-content">
                    <p class="card-title">identidad visual</p>
                    <p class="card-text">la manera en la que las personas perciben tu proyecto, la sensación y la impresión que dejas cuando alguien ve lo que haces</p>
                </div>
                <div class="card-img">
                    <img src="https://i.postimg.cc/P5XHWHq0/card2.jpg" alt="producto">
                </div>
            </div>
        </div>
        <div class="card" id="card-3">
            <div class="card-inner">
                <div class="card-content">
                    <p class="card-title">producto</p>
                    <p class="card-text">el resultado de tu creatividad y esfuerzo, aquello que ofreces al mundo, con la intención de generar valor y dejar una huella</p>
                </div>
                <div class="card-img">
                    <img src="https://i.postimg.cc/VkK84hrv/card3.jpg" alt="producto">
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="footer__content">
            <div>
                <a href="/"><img src="https://i.postimg.cc/SRgrHcW6/inflado-blanco.png" alt="logotipo"></a>
                <p class="copy">© 2024 - todos los derechos reservados </p>
            </div>
            <div class="footer__links">
                <div class="footer__links__section">
                    <p>secciones</p>
                    <ul>
                        <li><a class="in-page" href="">studio</a></li>
                        <li><a class="link" href="/hablemos"><span class="arrow">→</span>hablemos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bg">
            <img src="https://i.postimg.cc/xdqSZPMR/hero.gif" alt="logotipo">
        </div>
    </section>
</div>